.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    spacing: 8;

  }
  
  .infected {
    border-bottom: 10px solid rgb(255, 0, 0);
    spacing: 8;
  }
  
  .recovered{
    border-bottom: 10px solid rgb(60, 179, 113);
    
  }
  
  .deaths{
    border-bottom: 10px solid rgb(0, 0, 0)
  }
  